@model lab_3.Models.Employee

<h1>Delete Employee</h1>

<h3>Are you sure you want to delete the employee "@Model.FirstName @Model.LastName"?</h3>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit">Delete</button>
</form>

<a href="@Url.Action("Index", "Employees")">Back</a>
