@model lab_3.Models.Task

<h1>Подтвердите удаление задачи</h1>

<h4>Задача: @Model.Title</h4>
<p>Вы действительно хотите удалить эту задачу?</p>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Удалить</button>
    <a asp-action="Index" class="btn btn-secondary">Отмена</a>
</form>
