@model lab_3.Models.Project

<h1>Удалить проект</h1>

<h3>Вы уверены, что хотите удалить проект "@Model.Name"?</h3>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Удалить</button>
</form>

<a href="@Url.Action("Index", "Projects")" class="btn btn-secondary">Назад</a>
