@model lab_3.Models.Employee

<h1>Удалить сотрудника</h1>

<h3>Вы уверены, что хотите удалить сотрудника "@Model.FirstName @Model.LastName"?</h3>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Удалить</button>
</form>

<a href="@Url.Action("Index", "Employees")" class="btn btn-secondary">Назад</a>
