@model lab_3.Models.Employee

<h1>Редактировать сотрудника</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label for="FirstName">Имя</label>
        <input type="text" class="form-control" asp-for="FirstName" required />
    </div>
    <div class="form-group">
        <label for="LastName">Фамилия</label>
        <input type="text" class="form-control" asp-for="LastName" required />
    </div>
    <div class="form-group">
        <label for="MiddleName">Отчество</label>
        <input type="text" class="form-control" asp-for="MiddleName" />
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" asp-for="Email" required />
    </div>

    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
</form>

<a href="@Url.Action("Index", "Employees")" class="btn btn-secondary">Назад</a>
