body,
html {
    height: 100%;
}


.main_body {
    background-image: url("../icons/bgs/bg4.jpg");
    background-color: rgb(99, 87, 87);
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}